body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image:url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#ele1 {
  width: 500px;
  height: 200px;
  background-color: #ffffff; /* color por defecto */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: %;
}